!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Test Newsletter Test Sat
    %link{:href => "chrome://messagebody/skin/messageBody.css", :rel => "important stylesheet"}/
  %body
    %table.header-part1{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td
          %b> Subject:
          Test Newsletter Test Sat
      %tr
        %td
          %b> From:
          Sieben Linden Newsletter &lt;test@siebenlinden.org&gt;
      %tr
        %td
          %b> Date:
          26.09.19, 16:56
    %table.header-part2{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td
          %b> To:
          felix.wolfsteller@gmail.com
    %br/
    %meta{:charset => "utf-8"}/
    %title Newsletter Test Sat
    %table.main-body{:bgcolor => "rgb(234, 236, 237)", :height => "100%", :style => "box-sizing: border-box; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%; height: 100%; background-color: rgb(234, 236, 237);", :width => "100%"}
      %tbody{:style => "box-sizing: border-box;"}
        %tr.row{:style => "box-sizing: border-box; vertical-align: top;", :valign => "top"}
          %td.main-body-cell{:style => "box-sizing: border-box; font-family: Tahoma, Geneva, sans-serif;"}
            %table.container{:height => "0", :style => "box-sizing: border-box; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; height: 0px; width: 620px; max-width: 620px; font-family: Arial, Helvetica, sans-serif;", :width => "620"}
              %tbody{:style => "box-sizing: border-box;"}
                %tr{:style => "box-sizing: border-box;"}
                  %td.container-cell{:style => "box-sizing: border-box; vertical-align: top; font-size: medium; padding-bottom: 50px; font-family: Arial, Helvetica, sans-serif;", :valign => "top"}
                    %table.table100.c1790{:height => "0", :style => "box-sizing: border-box; width: 100%; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 0px; min-height: 30px; border-collapse: separate; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px;", :width => "100%"}
                      %tbody{:style => "box-sizing: border-box;"}
                        %tr{:style => "box-sizing: border-box;"}
                          %td#c1793.top-cell{:align => "right", :style => "box-sizing: border-box; text-align: right; color: rgb(152, 156, 165);"}
                            %u#c307.browser-link{:style => "box-sizing: border-box; font-size: 12px;"}
                              View in browser
                    %table.c1766{:bgcolor => "rgb(255, 255, 255)", :style => "box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: 0px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%; min-height: 30px; background-color: rgb(255, 255, 255); border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial;", :width => "100%"}
                      %tbody{:style => "box-sizing: border-box;"}
                        %tr{:style => "box-sizing: border-box;"}
                          %td.cell.c1769{:style => "box-sizing: border-box; width: 11%;", :width => "11%"}
                            %img.c2469{:src => "http://192.168.120.123:3000/grapejs/uploads/static/075afb2e5b18a2cfeeae3ccb4f1d3086.gif", :style => "box-sizing: border-box; color: black; width: 200px;", :width => "200"}/
                          %td.cell.c1776{:style => "box-sizing: border-box; width: 70%; padding-top: 1px; padding-right: 1px; padding-bottom: 0px; padding-left: 1px; vertical-align: bottom;", :valign => "bottom", :width => "70%"}
                            %br.c2308{"data-highlightable" => "1", :style => "box-sizing: border-box; outline-color: rgba(170, 170, 170, 0.7); outline-style: dashed; outline-width: 1px; outline-offset: -2px; color: rgb(0, 0, 0); font-family: Helvetica, serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(234, 236, 237); text-decoration-style: initial; text-decoration-color: initial;"}/
                            .c1144{:style => "box-sizing: border-box; font-size: 20px; font-weight: 300; font-family: Arial, Helvetica, sans-serif; padding-top: 10px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px; color: rgb(68, 68, 68);"}
                              %b{:style => "box-sizing: border-box;"} Newsletter Juli 2019
                              %br{:style => "box-sizing: border-box;"}/
                    %table.card{:height => "0", :style => "box-sizing: border-box; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-bottom: 20px; height: 0px; width: 100%;", :width => "100%"}
                      %tbody{:style => "box-sizing: border-box;"}
                        %tr{:style => "box-sizing: border-box;"}
                          %td.card-cell{:align => "center", :bgcolor => "rgb(255, 255, 255)", :style => "box-sizing: border-box; background-color: rgb(255, 255, 255); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; text-align: center; width: 100%;", :width => "100%"}
                            %img.c1271{:alt => "Big image here", :src => "http://192.168.120.123:3000/grapejs/uploads/static/7d23f19dbf9a3c905e5aa9fdcefca1b5.jpeg", :style => "box-sizing: border-box; width: 600px; margin-top: 0px; margin-right: 0px; margin-bottom: 15px; margin-left: 0px; font-size: 50px; color: rgb(120, 197, 214); line-height: 250px; text-align: center;", :width => "600"}/
                            %table.table100.c1357{:height => "0", :style => "box-sizing: border-box; width: 100%; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-collapse: collapse;", :width => "100%"}
                              %tbody{:style => "box-sizing: border-box;"}
                                %tr{:style => "box-sizing: border-box;"}
                                  %td.card-content{:style => "box-sizing: border-box; font-size: 13px; line-height: 20px; color: rgb(111, 119, 125); padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; vertical-align: top;", :valign => "top"}
                                    %h1.card-title{:style => "box-sizing: border-box; font-size: 25px; font-weight: 300; color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif;"}
                                      Einmachwochen fallen aus....                          
                                      %br{"data-highlightable" => "1", :style => "box-sizing: border-box;"}/
                                    %p.card-text{:style => "box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;"}
                                      Leider wurde einer unserer Gäste mit eingekocht, daher haben wir für die nächste Zeit genug zu essen... die Veganer*innen wollten dieses System dann jetzt auch nicht weiter unterstützen und haben ein Veto eingereicht. Sorry. ...dfed
                                      %span.c4677{:style => "box-sizing: border-box; text-align: center;"} Zimmerleerstand,
                                    %p.c4686{:style => "box-sizing: border-box; margin-bottom: 0cm;"}
                                      Platzbedarf der Wägen bei immer mehr
                                      Häusern und dem Platzbedarf des Sommercamps, Kapitalbindung über
                                      High-tech-BW
                                    %p.c4695{:style => "box-sizing: border-box; margin-bottom: 0cm;"}
                                      %br{:style => "box-sizing: border-box;"}/
                                    %p.c4713{:style => "box-sizing: border-box; margin-bottom: 0cm;"} Abschließende Stimmungsbilder:
                                    %p.c4722{:style => "box-sizing: border-box; margin-bottom: 0cm;"}
                                      Wie interessant findest du es, an
                                      folgenden Themen weiter zu arbeiten?
                                    %p.c4731{:style => "box-sizing: border-box; margin-left: 2.5cm; margin-bottom: 0cm;"}
                                      Bauwagennummernvergabebefristung:
                                      6
                                    %p.c4740{:style => "box-sizing: border-box; margin-left: 2.5cm; margin-bottom: 0cm;"}
                                      Stellplatzgebühr:
                                      6
                                    %p.c4749{:style => "box-sizing: border-box; margin-left: 2.5cm; margin-bottom: 0cm;"}
                                      Reduzierung der
                                      Bauwagenstellplätze: 9
                                    %p.c4758{:style => "box-sizing: border-box; margin-left: 2.5cm; margin-bottom: 0cm;"}
                                      WoGe-Mietshaus ohne Baugruppe: 13
                                    %p.c4767{:style => "box-sizing: border-box; margin-left: 1.25cm; margin-bottom: 0cm;"}
                                      %br{:style => "box-sizing: border-box;"}/
                                    %ul{:style => "box-sizing: border-box;"}
                                      %li{:style => "box-sizing: border-box;"}
                                        %p#is54l1{:style => "box-sizing: border-box; margin-bottom: 0cm;"}
                                          %b{:style => "box-sizing: border-box;"}> WoGe-Protokoll
                                          vom
                                          2016-3-7
                                    %p.c4830{:style => "box-sizing: border-box; margin-bottom: 0cm;"}
                                      %font{:face => "Times New Roman, serif", :style => "box-sizing: border-box;"}
                                        %b{:style => "box-sizing: border-box;"}
                                          Wohnen
                                          in Bauwägen/Mietausfallfonds
                                    = succeed "r" do
                                      %ul{:style => "box-sizing: border-box;"}
                                        %p#imqaxl{:style => "box-sizing: border-box; margin-bottom: 0cm;"}
                                          %font{:face => "Times New Roman, serif", :style => "box-sizing: border-box;"}
                                            Wir
                                            sehen eher, dass die SiGe oder die VV in Fällen, in denen
                                            gemeinschaftsbedingt größerer Mietausfall entsteht, einen Zuschuss
                                            beschließen können soll.
                                    %p{:style => "box-sizing: border-box;"}
                                    %img.c4179{:src => "http://192.168.120.123:3000/grapejs/uploads/static/3c41af03692d611416a2e9be8b510a6c.jpeg", :style => "box-sizing: border-box; color: black; width: 600px;", :width => "600"}/
                    %table.grid-item-row{:style => "box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; width: 100%;", :width => "100%"}
                      %tbody{:style => "box-sizing: border-box;"}
                        %tr{:style => "box-sizing: border-box;"}
                          %td.grid-item-cell2-l{:style => "box-sizing: border-box; vertical-align: top; padding-right: 10px; width: 50%;", :valign => "top", :width => "50%"}
                            %table.grid-item-card{:style => "box-sizing: border-box; width: 100%; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; margin-bottom: 10px;", :width => "100%"}
                              %tbody{:style => "box-sizing: border-box;"}
                                %tr{:style => "box-sizing: border-box;"}
                                  %td.grid-item-card-cell{:align => "center", :bgcolor => "rgb(255, 255, 255)", :style => "box-sizing: border-box; background-color: rgb(255, 255, 255); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"}
                                    %img.grid-item-image{:alt => "Image", :src => "http://192.168.120.123:3000/grapejs/uploads/static/d6a0dd10502b5d48e99114b64cf63486.jpeg", :style => "box-sizing: border-box; line-height: 150px; font-size: 50px; color: rgb(120, 197, 214); margin-bottom: 15px; width: 300px;", :width => "300"}/
                                    %table.grid-item-card-body{:style => "box-sizing: border-box;"}
                                      %tbody{:style => "box-sizing: border-box;"}
                                        %tr{:style => "box-sizing: border-box;"}
                                          %td.grid-item-card-content{:style => "box-sizing: border-box; font-size: 13px; color: rgb(111, 119, 125); padding-top: 0px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px; width: 100%; line-height: 20px;", :width => "100%"}
                                            %h1.card-title{:style => "box-sizing: border-box; font-size: 25px; font-weight: 300; color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif;"} offensichtlich
                                            %p.card-text{:style => "box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;"} muss man auch hier die Bilder vorher richtig beschneiden... sonst gibt es wieder unterschiedliche größen...
                          %td.grid-item-cell2-r{:style => "box-sizing: border-box; vertical-align: top; padding-left: 10px; width: 50%;", :valign => "top", :width => "50%"}
                            %table.grid-item-card{:style => "box-sizing: border-box; width: 100%; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; margin-bottom: 10px;", :width => "100%"}
                              %tbody{:style => "box-sizing: border-box;"}
                                %tr{:style => "box-sizing: border-box;"}
                                  %td.grid-item-card-cell{:align => "center", :bgcolor => "rgb(255, 255, 255)", :style => "box-sizing: border-box; background-color: rgb(255, 255, 255); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"}
                                    %img.grid-item-image{:alt => "Image", :src => "http://192.168.120.123:3000/grapejs/uploads/static/08601b1898b1b8d6b4bf056cd0055d63.jpeg", :style => "box-sizing: border-box; line-height: 150px; font-size: 50px; color: rgb(120, 197, 214); margin-bottom: 15px; width: 300px;", :width => "300"}/
                                    %table.grid-item-card-body{:style => "box-sizing: border-box;"}
                                      %tbody{:style => "box-sizing: border-box;"}
                                        %tr{:style => "box-sizing: border-box;"}
                                          %td.grid-item-card-content{:style => "box-sizing: border-box; font-size: 13px; color: rgb(111, 119, 125); padding-top: 0px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px; width: 100%; line-height: 20px;", :width => "100%"}
                                            %h1.card-title{:style => "box-sizing: border-box; font-size: 25px; font-weight: 300; color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif;"} Title here
                                            %p.card-text{:style => "box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;"} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    %table.card{:height => "0", :style => "box-sizing: border-box; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-bottom: 20px; height: 0px; width: 100%;", :width => "100%"}
                      %tbody{:style => "box-sizing: border-box;"}
                        %tr{:style => "box-sizing: border-box;"}
                          %td.card-cell{:align => "center", :bgcolor => "rgb(255, 255, 255)", :style => "box-sizing: border-box; background-color: rgb(255, 255, 255); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; text-align: center; width: 100%;", :width => "100%"}
                            %img.c1271{:alt => "Big image here", :src => "http://192.168.120.123:3000/grapejs/uploads/static/7d23f19dbf9a3c905e5aa9fdcefca1b5.jpeg", :style => "box-sizing: border-box; width: 600px; margin-top: 0px; margin-right: 0px; margin-bottom: 15px; margin-left: 0px; font-size: 50px; color: rgb(120, 197, 214); line-height: 250px; text-align: center;", :width => "600"}/
                            %table.table100.c1357{:height => "0", :style => "box-sizing: border-box; width: 100%; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-collapse: collapse;", :width => "100%"}
                              %tbody{:style => "box-sizing: border-box;"}
                                %tr{:style => "box-sizing: border-box;"}
                                  %td.card-content{:style => "box-sizing: border-box; font-size: 13px; line-height: 20px; color: rgb(111, 119, 125); padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; vertical-align: top;", :valign => "top"}
                                    %h1.card-title{:style => "box-sizing: border-box; font-size: 25px; font-weight: 300; color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif;"}
                                      Einmachwochen fallen aus....                          
                                      %br{"data-highlightable" => "1", :style => "box-sizing: border-box;"}/
                                    %p.card-text{:style => "box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;"} TExt... viel text
                    %table.card{:height => "0", :style => "box-sizing: border-box; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-bottom: 20px; height: 0px; width: 100%;", :width => "100%"}
                      %tbody{:style => "box-sizing: border-box;"}
                        %tr{:style => "box-sizing: border-box;"}
                          %td.card-cell{:align => "center", :bgcolor => "rgb(255, 255, 255)", :style => "box-sizing: border-box; background-color: rgb(255, 255, 255); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; text-align: center; width: 100%;", :width => "100%"}
                            %table.table100.c1357{:height => "0", :style => "box-sizing: border-box; width: 100%; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-collapse: collapse;", :width => "100%"}
                              %tbody{:style => "box-sizing: border-box;"}
                                %tr{:style => "box-sizing: border-box;"}
                                  %td.card-content{:style => "box-sizing: border-box; font-size: 13px; line-height: 20px; color: rgb(111, 119, 125); padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; vertical-align: top;", :valign => "top"}
                                    %h1.card-title{:style => "box-sizing: border-box; font-size: 25px; font-weight: 300; color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif;"}
                                      Einmachwochen fallen aus....                          
                                      %br{"data-highlightable" => "1", :style => "box-sizing: border-box;"}/
                                    %p.card-text{:style => "box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;"} TExt... viel text
                    %table.list-item{:style => "box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;", :width => "100%"}
                      %tbody{:style => "box-sizing: border-box;"}
                        %tr{:style => "box-sizing: border-box;"}
                          %td.list-item-cell{:bgcolor => "rgb(255, 255, 255)", :style => "box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"}
                            %table.list-item-content{:height => "150", :style => "box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;", :width => "100%"}
                              %tbody{:style => "box-sizing: border-box;"}
                                %tr.list-item-row{:style => "box-sizing: border-box;"}
                                  %td.list-cell-left{:style => "box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;", :width => "30%"}
                                    %img.c3232{:src => "http://192.168.120.123:3000/grapejs/uploads/static/75e0a7efb4b29db051cac9c0bde23cdb.jpeg", :style => "box-sizing: border-box; color: black; width: 300px;", :width => "300"}/
                                  %td.list-cell-right{:style => "box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;", :width => "70%"}
                                    %h1.card-title{:style => "box-sizing: border-box; font-size: 25px; font-weight: 300; color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif;"} kurzer Beitrag
                                    %p.card-text{:style => "box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;"} Um das ganze etwas aufzulockern, könnten wir auch mal beiträge in diesem format hier schreiben... dann ist nicht alles immer so untereinander... jetzt muss ich hier weiter text schreiben, um zu sehen, wie sich das hier verändert, wenn mehr und mehr  mehr und mehr mehr und mehr mehr und mehr mehr und mehr mehr und mehr mehr und mehr mehr und mehr mehr und mehr text reinkommt. - also das bild links zentriert sich.
                    %table.list-item{:style => "box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;", :width => "100%"}
                      %tbody{:style => "box-sizing: border-box;"}
                        %tr{:style => "box-sizing: border-box;"}
                          %td.list-item-cell{:bgcolor => "rgb(255, 255, 255)", :style => "box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"}
                            %table.list-item-content{:height => "150", :style => "box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;", :width => "100%"}
                              %tbody{:style => "box-sizing: border-box;"}
                                %tr.list-item-row{:style => "box-sizing: border-box;"}
                                  %td.list-cell-left{:style => "box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;", :width => "30%"}
                                    %img.list-item-image{:alt => "Image2", :src => "http://192.168.120.123:3000/grapejs/uploads/static/f60225f07478f05ba833593bdd99280c.jpeg", :style => "box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 200px;", :width => "200"}/
                                  %td.list-cell-right{:style => "box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;", :width => "70%"}
                                    %h1.card-title{:style => "box-sizing: border-box; font-size: 25px; font-weight: 300; color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif;"}
                                      Toggle images
                                    %p.card-text{:style => "box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;"}
                                      Build a good looking newsletter even without images enabled by the email clients
                    %table.grid-item-row{:style => "box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; width: 100%;", :width => "100%"}
                      %tbody{:style => "box-sizing: border-box;"}
                        %tr{:style => "box-sizing: border-box;"}
                          %td.grid-item-cell2-l{:style => "box-sizing: border-box; vertical-align: top; padding-right: 10px; width: 50%;", :valign => "top", :width => "50%"}
                            %table.grid-item-card{:style => "box-sizing: border-box; width: 100%; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; margin-bottom: 10px;", :width => "100%"}
                              %tbody{:style => "box-sizing: border-box;"}
                                %tr{:style => "box-sizing: border-box;"}
                                  %td.grid-item-card-cell{:align => "center", :bgcolor => "rgb(255, 255, 255)", :style => "box-sizing: border-box; background-color: rgb(255, 255, 255); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"}
                                    %img.grid-item-image{:alt => "Image1", :src => "http://192.168.120.123:3000/grapejs/uploads/static/08601b1898b1b8d6b4bf056cd0055d63.jpeg", :style => "box-sizing: border-box; line-height: 150px; font-size: 50px; color: rgb(120, 197, 214); margin-bottom: 15px; width: 300px;", :width => "300"}/
                                    %table.grid-item-card-body{:style => "box-sizing: border-box;"}
                                      %tbody{:style => "box-sizing: border-box;"}
                                        %tr{:style => "box-sizing: border-box;"}
                                          %td.grid-item-card-content{:style => "box-sizing: border-box; font-size: 13px; color: rgb(111, 119, 125); padding-top: 0px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px; width: 100%; line-height: 20px;", :width => "100%"}
                                            %h1.card-title{:style => "box-sizing: border-box; font-size: 25px; font-weight: 300; color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif;"}
                                              Test it
                                            %p.card-text{:style => "box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;"}
                                              You can send email tests directly from the editor and check how are looking on your email clients
                          %td.grid-item-cell2-r{:style => "box-sizing: border-box; vertical-align: top; padding-left: 10px; width: 50%;", :valign => "top", :width => "50%"}
                            %table.grid-item-card{:style => "box-sizing: border-box; width: 100%; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; margin-bottom: 10px;", :width => "100%"}
                              %tbody{:style => "box-sizing: border-box;"}
                                %tr{:style => "box-sizing: border-box;"}
                                  %td.grid-item-card-cell{:align => "center", :bgcolor => "rgb(255, 255, 255)", :style => "box-sizing: border-box; background-color: rgb(255, 255, 255); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"}
                                    %img.grid-item-image{:alt => "Image2", :src => "http://192.168.120.123:3000/grapejs/uploads/static/695914c8973a585f9220882d910f4d64.jpeg", :style => "box-sizing: border-box; line-height: 150px; font-size: 50px; color: rgb(120, 197, 214); margin-bottom: 15px; width: 300px;", :width => "300"}/
                                    %table.grid-item-card-body{:style => "box-sizing: border-box;"}
                                      %tbody{:style => "box-sizing: border-box;"}
                                        %tr{:style => "box-sizing: border-box;"}
                                          %td.grid-item-card-content{:style => "box-sizing: border-box; font-size: 13px; color: rgb(111, 119, 125); padding-top: 0px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px; width: 100%; line-height: 20px;", :width => "100%"}
                                            %h1.card-title{:style => "box-sizing: border-box; font-size: 25px; font-weight: 300; color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif;"}
                                              Responsive
                                            %p.card-text{:style => "box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;"}
                                              Using the device manager you'll always send a fully responsive contents
                    %table.footer{:align => "center", :style => "box-sizing: border-box; margin-top: 50px; color: rgb(152, 156, 165); text-align: center; font-size: 11px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;"}
                      %tbody{:style => "box-sizing: border-box;"}
                        %tr{:style => "box-sizing: border-box;"}
                          %td.footer-cell{:style => "box-sizing: border-box;"}
                            .c2577{:style => "box-sizing: border-box; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;"}
                              %p.footer-info{:style => "box-sizing: border-box;"}
                                GrapesJS Newsletter Builder is a free and open source preset (plugin) used on top of the GrapesJS core library.
                                For more information about and how to integrate it inside your applications check
                              %p{:style => "box-sizing: border-box;"}
                                %a.link{:href => "https://github.com/artf/grapesjs-preset-newsletter", :style => "box-sizing: border-box; color: rgb(217, 131, 166);"} GrapesJS Newsletter Preset
                                %br{:style => "box-sizing: border-box;"}/
                            .c2421{:style => "box-sizing: border-box; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;"}
                              MADE BY
                              %a.link{:href => "https://github.com/artf", :style => "box-sizing: border-box; color: rgb(217, 131, 166);"} ARTUR ARSENIEV
                              %p{:style => "box-sizing: border-box;"}
